.custom-shape-divider-top-1640794155 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640794155 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 192px;
}

.custom-shape-divider-top-1640794155 .shape-fill {
    fill: $backgroundColor;
}
.social {
    position: relative;
    background-color: $cardColor;
}
.social {
    padding: 12rem 5rem 2rem;
    p {
        color: rgb(148, 148, 148);
        font-size: 1rem;
        padding-left: 1rem;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        img {
            width: 300px;
        }
        &__links {
            a{
                color: $primaryColor;
                margin: 0 0.5rem;
            }

        }
    }
}