.cards {
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__unit {
  background-color: white;
  width: 49%;
  height: 400px;
  margin-bottom: 2rem;
  color: #757575;
}

.cards__unit img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards__unit__text {
  height: 45%;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__unit__text h2 {
  margin: 0;
}

.cards__unit__text p {
  margin: 0.3rem 0 0 0;
}

.cards__unit__text__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  height: auto;
  color: #71c61f;
}

.cards__unit__text__price h3 {
  font-size: 2.2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
}

.cards__unit__text__price a {
  padding: 0.5rem 0.7rem;
  border: 3px solid #71c61f;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  text-decoration: none;
  color: #71c61f;
}

.cards__unit__text__price a:hover {
  background-color: #71c61f;
  color: white;
}

.filters {
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filters a {
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  background-color: #71c61f;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
}

.filters a:hover {
  font-weight: 500;
  cursor: pointer;
}

.header {
  padding: 1rem 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header img {
  width: 300px;
}

.header__links {
  padding: 1rem;
}

.header__links a {
  color: #757575;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0 0.4rem;
}

.header__links a:hover {
  font-weight: 600;
}

.header #telephone {
  font-size: 1.1rem;
}

.navigation {
  padding: 0 5rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__menu {
  text-transform: uppercase;
  background-color: #71c61f;
  padding: 0.2rem 0.4rem;
  text-align: center;
  color: white;
}

.navigation__menu p {
  font-size: 0.7rem;
  margin: 0;
}

.navigation__menu h2 {
  font-size: 1.2rem;
  margin: 0;
}

.navigation__menu:hover {
  cursor: pointer;
}

.navigation__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__btns__unit {
  padding: 0.55rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.navigation__btns__unit a {
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #757575;
}

.navigation__btns__unit:hover {
  font-weight: 600;
  border-bottom: 5px solid #71c61f;
}

body {
  width: 100%;
  height: auto;
  background-color: #ececec;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*# sourceMappingURL=styles.css.map */